.post_wraper{
    width: 960px;
    height: 600px;
    text-align: center;
    margin-top: -70px;
    margin-left: 20px;
}
.single_post{
    width: 310px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    float: left;
    display: block;
    margin-left: 10px;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;


}
.top_header{
    color: #fff;
    margin-bottom: 50px;
}
.title h3 a{
    color:#fff !important;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 

}
.title h3 a:hover{
    color: rgb(117, 162, 207) !important;
}
.description p{
    color:#fff !important;
    overflow: hidden !important;

    text-align: justify;
    margin-bottom: 10px;
}
.name_margin{
    margin-left: 20px;
}